/* AddPayments.css */

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
}

.form-wrapper {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background:transparent;
  
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading{
  text-align: center;
  color: #333;
  margin: 0px;
}

form {
  display: flex;
  flex-direction: column;
}
label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  background-color: #2a48df;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin:10px;
}

button:hover {
  background-color:blue;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}
