.home-container {
  text-align: center;
  padding: 140px 20px; /* Adjust padding for smaller screens */
  
}

header {
  margin-bottom: 30px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

p {
  color: #000000;
  margin-bottom: 30px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature {
  flex: 1;
  box-sizing: border-box;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 10px 20px; /* Add space between features */
}

.feature h2 {
  font-size: 1.5rem;
  color: #090303;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1rem;
  color: #050000;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .feature {
    flex: none;
    width: 100%;
    margin: 0 0 20px; /* Adjust margin for smaller screens */
  }

  .feature h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .feature p {
    font-size: 0.9rem;
  }
}