/* Register.css */

.registerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 70px;
  }
  
  .registerBox {
    margin:0px;
    border: 2px solid #ced4da;
    padding: 30px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .registerHeader {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding:0px;
  }
  
  .registerForm {
    display: flex;
    flex-direction: column;
  }
  
  .fieldContainer {
    margin-bottom: 15px;
  }
  
  .fieldLabel {
    font-weight: bold;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    border: 2px solid #ced4da;
    border-radius: 2px;
  }
  
  .passwordInput {
    margin-top: 5px;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  
  .alert {
    padding: 10px;
    border-radius: 4px;
  }
  
  .alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }
  
  .button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .button:hover {
    background-color: #061b06;
    color: #fff;
  }
  
  .login-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-link a {
    color: #0275d8;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  