/* Common styles for all screens */
.userProfileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.userProfileBox {
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
    max-width: 400px;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.userProfileHeader {
    text-align: center;
}

.form-group {
    text-align: center;
}

.alert {
    margin-top: 10px;
}

.button {
    cursor: pointer;
    padding: 10px 20px; /* Adjust button padding */
    border-radius: 0px;
}

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
    .userProfileBox {
        max-width: 80%; /* Adjust the maximum width for smaller screens */
    }

    .button {
        width: 50%; /* Make the button full width on smaller screens */
        margin-top: 10px; /* Add margin to separate buttons */
    }
}

/* Additional responsive styles for even smaller screens */
@media (max-width: 400px) {
    .userProfileBox {
        max-width: 90%; /* Further adjust the maximum width for even smaller screens */
    }

    .button {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
    
    .userProfileContainer {
        padding-top: 20px; /* Additional padding for smaller screens */
    }
}